@import 'tailwindcss/theme' layer(theme);
@import 'tailwindcss/preflight' layer(base);
@import 'tailwindcss/utilities' layer(utilities);

/* Custom styles */
body {
  background-color: rgb(249 250 251);
  color: rgb(17 24 39);
}

.dark body {
  background-color: rgb(17 24 39);
  color: rgb(243 244 246);
}